<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="SimpleProjectInGitSpace"/>
<stringAttribute key="TALEND_JOB_ID" value="_NRxqsDpXEee8Oeej9Flrqw"/>
<stringAttribute key="TALEND_JOB_NAME" value="test_new_job_from_cloned_version"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
